/* h1{
    color:blue;
    background-color:yellow ;
}

body{
    background-color: pink;
} */

/* .box{
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 5px;
    text-align: center;
    border: 1px seagreen;

} */